<footer class="page-footer font-small bg-secondary pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h5 class="text-light">our social media</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">

        <ul class="nav social-network">
          <li><a href="#" class="icoFacebook" title="Facebook"></a></li>
          <li><a href="#" class="icoInstagram" title="Instagram"></a></li>
          <li><a href="#" class="icoLinkedin" title="Linkedin"></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright bg-dark text-center py-3">
    <span class="text-center text-muted">&copy; 2023 Company, Inc </span>
    <a class="text-light" href="#">blog.online</a>
  </div>
</footer>
